* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}
.banner-card{
    position: relative;
}
/* .banner-card img{
    width: 100%;
} */

.banner-text{
    position: absolute;
    top: 25%;
    padding: 50px;
    color: white;
}
.banner-text > h2{
font-size: 70px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    .banner-text > h2{
        font-size: 32px;
    }
}
/* .banner-text h4{
    font-weight: bold;
    margin-bottom: 20px;
    } */
    .searchs{
        color: white;
            font-weight: bold;

            
    }
    .recalls{
        color: white;
        font-weight: bold;
    }
    .parah1{
        color: black;
        font-weight: bold;
        text-decoration: none;
        
    }
    .parah{
        color: white;
        text-decoration: none;
    }
    .parah3{
        color: red;
        text-decoration: none;
    }
    .hding{
        color: white;
        font-weight: bold;
    }
    .count{
        display: flex;
        justify-content: center;
        color: white;
    }
    
  